/* style.css */
body {
    font-family: 'Caveat', cursive; /* Fonte mais romântica */
    margin: 0;
    padding: 0;
    background-color: #ff0000; /* Cor de fundo suave */
    color: #4d0404; /* Cor de texto contrastante */
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   

}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 3em;
    color: #c24641; /* Cor de destaque para o título */
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

#mensagem-amor p {
    font-style: italic;
}

footer {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}